<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{path('admin_user_index')}}">Sym CRM Prof</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{path('admin_user_index')}}">Utilisateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('admin_student_index')}}">Eleves</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('admin_annonce_index')}}">Annonces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('admin_message_index')}}">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('admin_classroom_index')}}">Classe</a>
      </li>
    </ul>
  </div>
</nav>